<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaron.springcloud.consumer.dao.CommentMapper">

    <select id="queryComment" resultType="com.aaron.springcloud.entity.po.CommentPo">
        select
          a.id,
          a.phoneId,
          a.author,
          a.content,
          a.createTime
        from phone.comment a
        where a.phoneId = #{phoneId}
    </select>

    <insert id="addComment" parameterType="com.aaron.springcloud.entity.po.CommentPo">
        insert into phone.comment
          (
            phoneId, content, author
          )
        values
          (
            #{phoneId},#{content},#{author}
          )
    </insert>
</mapper>