<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaron.framework.mybatis.dao.ConfigMapper">

    <select id="queryConfig" resultType="com.aaron.framework.mybatis.entity.Config">
        SELECT *
        FROM config
    </select>

</mapper>