<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaron.springcloud.consumer.dao.ProductMapper">

    <insert id="addPhoneInfo" parameterType="com.aaron.springcloud.entity.po.PhoneInfo">
      insert into phone.phone
        (
          name, brand, description
        )
        values
        (
          #{name},#{brand},#{description}
        )
   </insert>
</mapper>